In [2]:
import pandas as pd

# Load the datasets
transformed_df = pd.read_csv("transformed_dataset.csv")
predicted_df = pd.read_csv("predicted_camp_locations.csv")

# Prepare the new records based on predicted data
new_records = []

for _, row in predicted_df.iterrows():
    # Extract ID and prediction data
    id_ = row['ID']
    origin = row['Dest']  # This becomes the origin of the new record
    dest = row['Predicted_Camp']  # The predicted camp
    camp_type = 'Camp Name'
    
    # Find the current max index for this ID in the transformed dataset
    max_index = transformed_df[transformed_df['ID'] == id_]['Index'].max()
    new_index = max_index + 1 if not pd.isnull(max_index) else 0
    
    # Create the new record
    new_record = {
        'ID': id_,
        'Origin': origin,
        'Dest': dest,
        'Index': new_index,
        'Type': camp_type
    }
    new_records.append(new_record)

# Append the new records to the transformed dataset
new_records_df = pd.DataFrame(new_records)
updated_transformed_df = pd.concat([transformed_df, new_records_df], ignore_index=True)

# Sort the data by ID and Index to maintain proper order
updated_transformed_df = updated_transformed_df.sort_values(by=['ID', 'Index'])

# Save the updated dataset
updated_transformed_df.to_csv("updated_transformed_dataset.csv", index=False)

print("Updated dataset saved to 'updated_transformed_dataset.csv'")

Updated dataset saved to 'updated_transformed_dataset.csv'

In [4]:
new_records_df.head()

   ID                Origin            Dest  Index       Type
0   1               Gniezno   Bergen-Belsen      4  Camp Name
1   2                Cypern   Bergen-Belsen      3  Camp Name
2   3  Monowitz / Auschwitz          Dachau      1  Camp Name
3   4           Blechhammer       Auschwitz      5  Camp Name
4   5              Warschau  Theresienstadt      3  Camp Name